@keyframes bubbles {
    0% {
        background-position: 0 0, 0 0;
        opacity: 0.5;
        /* Adjust the initial opacity */
    }

    100% {
        background-position: 30px 30px, 30px 30px;
        opacity: 1;
        /* Adjust the final opacity */
    }
}