@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

/* Custom colors */
:root {
  --primary-color: #3b82f6;
  --secondary-color: #10b981;

}




/* app.css */


.ql-syntax {
  background-color: rgb(26, 26, 26);
  padding: 5px;
  color: rgb(208, 208, 208);
  border-radius: 5px;
  position: relative;
}

.interview-div a {
  color: #10b981;
}

.interview-div h1 {

  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.interview-div h2 {

  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}