.darkmode-toggle {


  /* background-color: rgb(185, 179, 172); */
  /* background-color: #007bff; */

  width: 2rem;
  height: 2rem;
  /* position: fixed; */
  /* right: 0px;
  z-index: 999; */
  /* bottom: 180px; */
  /* border-radius: 50%; */


}

.sunny-dark {
  color: rgb(26, 6, 6);
  /* Set the color for the sunny icon in dark mode */
}